[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
jupyterlab = "*"
ipykernel = "*"
lxml = "*"
sqlalchemy = "*"
psycopg = {extras = ["pool"], version = "*"}
yfinance = "~=0.2.54"

[dev-packages]

[requires]
python_version = "3.13"
